@use '../abstract/mixins';
@use '../abstract/variables';

.section {
  min-height: 100vh;
  padding: 5rem 0 0 0;
  position: relative;
  box-shadow: variables.$box-shadow;
  background-size: cover;

  @include mixins.responsive(phone) {
    min-height: 80vh;
  }

  /* Image overlay */
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(variables.$color-light, 0.8);
    transform: translateY(-10rem);
  }

  &__about {
    min-height: 80vh;
    background-color: #f4f4f4;
    transform: translateY(-10rem) skewY(-2deg);
    z-index: 70;
    padding-top: 10rem;
    padding-bottom: 10rem;

    background-image:
      linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
      url(../assets/workspace.webp);

    @include mixins.responsive(tablet) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/workspace-800.webp);
    }
    @include mixins.responsive(phone) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/workspace-400.webp);
    }

    & > * {
      transform: skewY(2deg);
    }
  }

  &__products {
    background-color: #fff;
    padding-top: 10rem;
    padding-bottom: 10rem;
    transform: translateY(-16rem) skewY(3deg);
    z-index: 60;
    background-image:
      linear-gradient(to top, rgba(variables.$color-light, 0.9), transparent),
      url(../assets/mountain-man.webp);

    @include mixins.responsive(tablet) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/mountain-man-800.webp);
    }
    @include mixins.responsive(phone) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/mountain-man-400.webp);
    }

    & > * {
      transform: skewY(-3deg);
    }
  }

  &__companies {
    min-height: 50rem;
    background-color: #e9e9e9;
    padding-top: 10rem;
    padding-bottom: 10rem;
    transform: translateY(-22rem) skewY(-2deg);
    z-index: 50;
    background-image:
      linear-gradient(to right, rgba(variables.$color-gray-light, 0.9), transparent),
      url(../assets/buildings.webp);

    @include mixins.responsive(tablet) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/buildings-800.webp);
    }
    @include mixins.responsive(phone) {
      background-image:
        linear-gradient(to top, rgba(variables.$color-white, 0.9), transparent),
        url(../assets/buildings-400.webp);
    }

    & > * {
      transform: skewY(2deg);
    }
  }

  &__clients {
    background-color: #f4f4f4;
    padding-top: 10rem;
    padding-bottom: 15rem;
    transform: translateY(-24rem) skewY(1deg);
    box-shadow: variables.$box-shadow;
    z-index: 40;
    background-image:
      linear-gradient(to bottom right,
        rgba(variables.$color-light, 0.7),
        rgba(variables.$color-gray-dark, 0.75)),
      url(../assets/happy-customers.webp);

    @include mixins.responsive(tablet) {
      background-image:
        linear-gradient(to bottom right,
          rgba(variables.$color-light, 0.7),
          rgba(variables.$color-gray-dark, 0.75)),
        url(../assets/happy-customers-800.webp);
    }

    @include mixins.responsive(phone) {
      background-image:
        linear-gradient(to bottom right,
          rgba(variables.$color-light, 0.7),
          rgba(variables.$color-gray-dark, 0.75)),
        url(../assets/happy-customers-400.webp);
    }

    & > * {
      transform: skewY(-1deg);
    }
  }
}
