@use '../abstract/variables';

button:disabled {
  background-color: variables.$color-gray-dark !important;
  border-bottom: 2px solid variables.$color-dark !important;

  &:hover {
    cursor: default;
    background-color: variables.$color-gray-dark !important;
    border-bottom: 2px solid variables.$color-dark !important;
  }
}
