@use '../abstract/variables';
@use '../abstract/mixins';

.contact {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  min-width: 50vw;
  background-color: variables.$color-light;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  transition: transform 0.6s cubic-bezier(.86,0,.07,1);

  @include mixins.responsive(tablet) {
    max-width: 90vw;
    width: 100%;
    min-height: 60vh;
    padding: 2rem;
  }

  &--closed {
    transform: scale(0);
  }

  &--hidden {
    transform: translateY(91%);

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    margin-bottom: 1rem;
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: variables.$color-dark;
    font-size: 1.6rem;
    position: relative;
    margin-left: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: -4rem;
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;
      border: 2px solid variables.$color-primary;
    }

    &:hover,
    &:target,
    &:active {
      cursor: pointer;
    }

    @include mixins.responsive(phone) {
      margin: 1rem 0;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ .contact__label::before {
      background-color: variables.$color-primary-light;
    }

    &:focus ~ .contact__label::before {
      box-shadow: 0 0 3rem variables.$color-primary;
    }
  }

  /* Actually used as spambot honeypot */
  &__cookies {
    visibility: hidden;
    pointer-events: none;
  }

  &__input {
    position: relative;
    font-family: inherit;
    padding: 1rem;
    margin: 0.5rem 0;
    color: variables.$color-dark;
    border: 1px solid variables.$color-gray-dark;
    border-radius: variables.$border-radius;
    transition: transform 0.2s ease;
    backface-visibility: hidden;

    &:focus {
      border-color: variables.$color-dark;
      box-shadow: none;
      outline: 1px solid variables.$color-dark;
    }

    &--error {
      border: 1px solid transparent;
      outline: 2px solid variables.$color-error;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    @include mixins.responsive(phone) {
      flex-direction: column;
    }
  }

  &__minimize,
  &__close {
    position: absolute;
    font-size: 3rem;
    top: 1rem;
    right: 3rem;

    &:hover {
      cursor: pointer;
      color: variables.$color-primary;
    }
  }

  &__minimize {
    top: .5rem;
    right: 6rem;
  }

  &__overlay {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    background-color: variables.$color-light;
    border-radius: variables.$border-radius;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;

    &--visible {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__overlay-error {
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;

    ol {
      margin-top: -2rem;
    }
  }

  &__icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    transform: translateY(-10rem) scale(5);
    opacity: 0.4;
    z-index: -1;
  }
}
