@use '../abstract/mixins';

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 5rem;
    font-family: Comfortaa;

    &:last-of-type {
      margin-bottom: 2rem;
    }

    @include mixins.responsive(phone) {
      font-size: 3rem;
    }
  }
}
