@use '../abstract/mixins';
@use '../abstract/variables';

@font-face {
  font-family: 'Comfortaa';
  src: url(../assets/fonts/Comfortaa-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

a:focus {
  border-bottom: 2px solid variables.$color-primary;
  outline: none;
}

h3 {
  font-family: Comfortaa;
}

.paragraph {
  margin-bottom: 2rem;
  line-height: 3rem;
  font-size: 1.8rem;

  &--columns {
    columns: 3;
    column-gap: 3rem;

    @include mixins.responsive(tablet) {
      columns: 2;
    }

    @include mixins.responsive(phone) {
      columns: 1;
      line-height: 3.25rem;
    }
  }
}

.section__title {
  margin: 5rem 0;
  font-size: 3rem;
  font-family: Comfortaa;
  color: variables.$color-dark;
  display: inline-block;
  border-bottom: 2px solid variables.$color-primary;
}

.section__subtitle {
  margin: -5rem 0 3rem 0;
  font-size: 2.5rem;
  color: variables.$color-dark;
}
