@use '../abstract/variables';
@use '../abstract/mixins';

.mt0 {
  margin-top: 0 !important;
}
.mt2 {
  margin-top: 2rem !important;
}
.mt5 {
  margin-top: 5rem !important;
}
.mt10 {
  margin-top: 10rem !important;
}
.mb2 {
  margin-bottom: 2rem !important;
}
.mb10 {
  margin-bottom: 10rem !important;
}
.pt15 {
  padding-top: 15rem !important;
}
.pt20 {
  padding-top: 20rem !important;
}
.pt20-mobile {
  @include mixins.responsive(tablet) {
    padding-top: 20rem !important;
  }
}
.font-regular {
  font-size: 1.6rem !important;
}
.is-centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.is-primary {
  color: variables.$color-primary;
}
.has-text-centered {
  margin: 0 auto;
}
.flex-start {
  align-self: flex-start;
}
.flex-end {
  align-self: flex-end;
}
